.pricing-div {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing-div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


html {
    scroll-behavior: smooth;
}

.navbar {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.navlink {
    color: black;
}

.navlink:hover {
    color: wheat;
}

.navlink div {
    background-color: black;
}

.navlink:hover div {
    background-color: wheat;
}